---
import { Grid } from "../components/grid";
import { Products } from "../components/products";
import Layout from "../layouts/Layout.astro";
import { fetchFrontPage } from "../use-cases/queries/frontpage.ts";

const data = await fetchFrontPage("/frontpage", "published");
const title = data.catalogue.meta.content.chunks[0].find(
  (index: { id: string }) => index.id === "text"
).content.text;
const description = data.catalogue.meta.content.chunks[0].find(
  (index: { id: string }) => index.id === "plaintext"
).content.plainText[0];

const { catalogue, donuts } = data;
const { grid } = catalogue;
---

<Layout title={title} description={description}>
  <div class="py-10 lg:container mx-auto w-full md:px-0 px-3">
    <Grid grid={grid} />
    <Products donuts={donuts} />
  </div>
</Layout>

<script>
  window.Bird.contact.identify(
    {
      strategy: "Visitor",
      identifier: { key: "emailaddress", value: "tarantino@gmail.com" },
      // identifier: { key: "emailaddress", value: "carles.ferrater@bird.com" },
    },
    { subscribedEmail: true }
  );
</script>
